
body{
	position:relative;
	margin: 0 auto;
	font-family: Arial, san-serif;
	max-width:1000px;
	min-width: 1000px;
	background-image: url("../media/stars.png");
    background-repeat: repeat;	
}

.lSide{
	float: left;
	margin-top: 60px;
}

#profile{
	border: 3px solid #7AA1FF;
	border-radius: 50%;
}

#links{
	position: relative;
	margin: 0 auto;
	font-size: 110%;
	background-color: #7AA1FF ;
	padding: 10px 0px 10px 0px;	
	margin-top:6%;
	text-align: center;
	border-radius: 15px;
	box-shadow: 5px 5px 5px #abd0fa;
	width: 95%;
}

#linkedList{
	position:relative;
	text-align: center;
}

#current{	
	color: #7AA1FF;
}

h5{
	margin: auto;
	margin-bottom: 14pt;
	margin-top: 14pt;
	font-size: 100%;
}

.rSide{
	float: right;
	width: 75%;
}

#box1, #box2{
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #BED5FF;
	border: 2px solid #80acff;
	margin-bottom: 20px;
	border-style: dashed;
}

#box2{	
	padding-bottom: 98%;
}

#innerL{
	width: 42%;
	float: left;
}

 #innerR{
	 float: right;
	 width: 42%;
 }

#variation1, #variation3,
#variation2, #variation4{
	text-align:center;
}

#img1, #img2, #img3, 
#img4{
	position: relative;
	border: 2px solid #b7b3ff;
	border-radius: 10px;
}

h1{
	text-align: center;
	font-size: 45px;
	background-color:#80acff;
	padding: 10px 0px 10px 0px;
	border-radius: 70px;	
	box-shadow: 5px 5px 5px #BED5FF;
}

#para{
	padding-bottom: 20px;
}

p{
	margin: 20px 30px 0px 30px;
}

p{
	font-style: italic;
	text-indent: 50px;
	margin-bottom: -15px;	
}

h3{
	position: relative;
	margin: 0 auto;
	background-color:#817afe;
	padding: 10px 0px 10px 0px;	
	margin-top:6%;
	margin-bottom: 20px;
	text-align: center;
	border-radius: 15px;
	width: 94%;
}

a{
	text-decoration: none;
	font-weight: bold;
}
a:link {
    color: black;
}

/* mouse over link */
a:hover {
    color: #65e765;
	text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
}

footer{
	position: relative;
	float: left;
	margin-left: 30px;
	margin-top: -20px;
}

#skip{
	display: none;
}

/* Media Queries */
@media screen and (max-width: 480px) {
	body{		
		max-width:90%;
		min-width: 400px;
		font-size: 14px;
	}
	
	.lSide{
		display: none;
	}
	
	.rSide{
		width: 100%;
	}
	.sources{
		margin-top: -20%;
	}
	
	#innerL{
		width: 90%;
		margin-top: -60px;
	}
	
	
	#explain{
		font-size: 24px;
	}
	
	#box2{
		padding-bottom: 1435px;
	}
	
	#innerR{
		margin-right: 200px;
		margin-top: -50px;
	}
	
	#variation1{
		margin-top:20px;
	}
	
	#variation3{
		margin-top: 400px;
	}
	
	#variation2{
		margin-top: -700px;
		width: 210%;
	}
	
	#variation4{
		margin-top: 390px;
		width: 210%;
	}
	
	h3{
		padding: 5px 0px 5px 0px;	
		margin-top: 30%;
	}
	 
	footer{
		position: relative;
		float: none;
		margin-left: 0px;
		margin-top: 0px;
		text-align: center;
	}
	
	#skip{
		display: block;
	}
}